body {
  background: gray;

}
div {
  margin: 0 auto;
  text-align: center;
}
/*.row {
width: 350px;

}*/
.game {

  width: 620px;
  height: 620px;
  background-image: url('http://www.fun-free-party-games.com/downloads/Game-Board-8x8-grid(Green)(Reversi).gif');

  background-size:cover;

}
.current {
  margin-bottom: 10px;
}
.box {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  display: inline-block;

}

.black {
  background-image:url('https://img.clipartfest.com/7ed346098a4b935bff5c0736407db373_yellow-circle-icon-clip-art-clipart-yellow-circle_300-300.png');
    background-image:url('https://i.stack.imgur.com/ma4sx.png');
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-size:100%;
}
.yellow {

  background-image:url('https://img.clipartfest.com/7ed346098a4b935bff5c0736407db373_yellow-circle-icon-clip-art-clipart-yellow-circle_300-300.png');
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;

  background-size:100%;

}
.blue {
  background: blue;
}
.red {
  background: red;
}
