body {
  background: gray;

}
div {
  margin: 0 auto;
  text-align: center;
}
footer {
  height: 150px;
}

.game {
  clear: both;
  width: 620px;
  height: 620px;
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/a9/00/8d/a9008d0447093d351da6781b660e227f.jpg');

  background-size:cover;
  padding-top: -4px;

}
.current {
  margin-bottom: 10px;


}

.box {
  width: 75px;
  height: 75px;
  border: 1px solid grey;
  float: left;

}

.results {
width: 100%;
  margin: 0 auto;
  height: 50px;
  width: 300px;
font-size: 25px;
  overflow: hidden;
}
.score-one {
margin: 0 auto;

}
.score-two {
color: yellow;
}



.black {
  background-image:url('https://img.clipartfest.com/597b86bad528e68246fb09ab4ef54b9a_smiley-face-transparent-face-clipart-transparent-background_2040-2040.png');

  background-size:100%;
}
.white {

  background-image:url('https://img.clipartfest.com/ef90ee323453b75048afcedff50e705b_smiley-face-transparent-emoji-happy-face-clipart-transparent-background_500-499.gif');


  background-size:101%;

}
.blue {
  background: blue;
}
.red {
  background: red;
}
